<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.posppay.newpay.modules.xposp.dao.mapper.PrdtPermDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.posppay.newpay.modules.xposp.entity.PrdtPerm">
        <result column="MERC_ID" property="mercId" />
        <result column="PRD_ID" property="prdId" />
        <result column="TRAN_TYP" property="tranTyp" />
        <result column="TM_SMP" property="tmSmp" />
        <result column="STOE_ID" property="stoeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MERC_ID, PRD_ID, TRAN_TYP, TM_SMP, STOE_ID
    </sql>

</mapper>
